<div class="card">
  <div class="card-block">
    <%= form_tag search_path do %>
        <%= text_area_tag :value, example_search, class: 'form-control' %>
        <div class="m-t-1">
          <%= submit_tag 'Search', class: 'btn btn-primary' %>
        </div>
    <% end %>
  </div>
</div>

<% if @blueprints %>
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Blueprints</h3>
        <table class="table table-hover table-sm m-b-0">
          <thead>
          <tr>
            <th>Name</th>
            <th class="text-xs-right">Material cost</th>
            <th class="text-xs-right">Sell price</th>
            <th class="text-xs-right">Profit</th>
          </tr>
          </thead>
          <% @blueprints.each do |b| %>
              <% cost = b.cost %>
              <% sell_for = b.sell_for %>
              <tbody class="blueprint" data-type-id="<%= b.type_id %>">
              <tr>
                <td><%= b.products.map { |p| "#{p[:quantity]} x #{EveItem.get(p).try :name}" }.join %></td>
                <td class="mono text-xs-right"><%= number_to_currency cost %></td>
                <td class="mono text-xs-right"><%= number_to_currency(sell_for) %></td>
                <td class="mono text-xs-right"><%= number_to_currency(sell_for - cost) %></td>
              </tr>
              </tbody>

              <tbody class="materials hidden" data-type-id="<%= b.type_id %>">
              <% b.materials.each do |m| %>
                  <% eve_item = EveItem.get(m) %>
                  <% quantity = m[:quantity] %>
                  <tr>
                    <td><%= quantity %> x <%= eve_item.try :name %></td>
                    <td class="mono text-xs-right"><%= eve_item.try(:price) ? number_to_currency(quantity * eve_item.price) : '-' %></td>
                    <td colspan="2"></td>
                  </tr>
              <% end %>
              </tbody>
          <% end %>
        </table>
      </div>
    </div>
<% end %>
