<div class="card">
  <div class="card-block">
    <%= form_tag search_path do %>
        <%= text_area_tag :value, example_search, class: 'form-control' %>
        <div class="m-t-1">
          <%= submit_tag 'Search', class: 'btn btn-primary' %>
        </div>
    <% end %>
  </div>
</div>

<% if @blueprints %>
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Blueprints</h3>
        <table id="blueprints" class="table table-hover table-sm m-b-0">
          <thead>
          <tr>
            <th>Name</th>
            <th class="text-muted">Time</th>
            <th class="text-xs-right text-muted">Volume</th>
            <th class="text-xs-right text-muted">Volume/Hour</th>
            <th class="text-xs-right">Material cost</th>
            <th class="text-xs-right">Sell price</th>
            <th class="text-xs-right">Profit</th>
            <th class="text-xs-right">Profit/Hour</th>
          </tr>
          </thead>
          <% @blueprints.each do |b| %>

              <tbody class="blueprint" data-type-id="<%= b.type_id %>">
              <tr>
                <td><%= b.products.map { |p| "#{p[:quantity]} x #{EveItem.get(p[:typeID]).try :name}" }.join %></td>
                <td class="text-muted"><%= distance_of_time_in_words b.time %></td>
                <td class="mono text-xs-right text-muted"><%= b.products_volume %> m続</td>
                <td class="mono text-xs-right text-muted"><%= b.per_hour b.products_volume %> m続</td>
                <td class="mono text-xs-right"><%= number_to_currency(b.materials_buy) %></td>
                <td class="mono text-xs-right"><%= number_to_currency(b.products_sell) %></td>
                <td class="mono text-xs-right"><%= number_to_currency(b.profit) %></td>
                <td class="mono text-xs-right"><%= number_to_currency(b.per_hour b.profit) %></td>
              </tr>
              </tbody>

              <tbody class="materials hidden" data-type-id="<%= b.type_id %>">
              <% b.materials.each do |m| %>
                  <tr>
                    <% eve_item = EveItem.get(m[:typeID]) %>
                    <% price = EveItem.get(m[:typeID]).try(:price, :buy, cookies[:system]) %>
                    <% quantity = m[:quantity] %>
                    <td><%= quantity %> x <%= eve_item.try :name %></td>
                    <td></td>
                    <td class="mono text-xs-right text-muted"><%= eve_item ? (quantity * eve_item.volume) : '-' %> m続</td>
                    <td class="mono text-xs-right text-muted"><%= eve_item ? b.per_hour(quantity * eve_item.volume) : '-' %> m続</td>
                    <td class="mono text-xs-right"><%= price ? number_to_currency(quantity * price) : '-' %></td>
                    <td colspan="3"></td>
                  </tr>
              <% end %>
              </tbody>

          <% end %>
        </table>
      </div>
    </div>
<% end %>
