<!DOCTYPE html>
<html>
<head>
  <title>HUS-C</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= controller_name %>" data-locale="<%= I18n.locale %>">

<nav class="navbar navbar-fixed-top">
  <a class="navbar-brand" href="/">HUS-C</a>

  <form class="form-inline pull-xs-right">
    <label class="m-r-1">System</label>
    <%= select_tag :system, available_systems, class: 'c-select' %>
  </form>

</nav>

<div class="container-fluid">
<%= yield %>
</div>

</body>
</html>
