<!DOCTYPE html>
<html>
<head>
  <title>HUS-C</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= controller_name %>" data-locale="<%= I18n.locale %>">

<nav class="navbar navbar-fixed-top">
  <a class="navbar-brand" href="/">HUS-C</a>

  <form class="form-inline pull-xs-right">
    <label class="m-l-2 m-r-1" for="system">System</label>
    <%= select_tag :system, available_systems, class: 'c-select' %>
    <label class="m-l-2 m-r-1" for="buy">Buy</label>
    <%= select_tag :buy, available_prices(:buy), class: 'c-select' %>
    <label class="m-l-2 m-r-1" for="sell">Sell</label>
    <%= select_tag :sell, available_prices(:sell), class: 'c-select' %>
  </form>

</nav>

<div class="container-fluid">
  <% if notice %>
      <div class="alert alert-warning" id="notice"><%= notice %></div>
  <% end %>
  <%= yield %>
</div>

</body>
</html>
