<!DOCTYPE html>
<html>
<head>
  <title>HUS-C</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= controller_name %>" data-locale="<%= I18n.locale %>" <%= yield(:body_attributes) if content_for?(:body_attributes) %>>

<nav class="navbar navbar-fixed-top">
  <a class="navbar-brand" href="/">HUS-C</a>
</nav>

<div class="container-fluid">
  <% if notice %>
      <div class="alert alert-warning" id="notice"><%= notice %></div>
  <% end %>
  <%= yield %>
</div>

</body>
</html>
